<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
</head>
<body>

<h2>Change Password</h2>

<form method="POST">
    Current Password: <input type="password" name="currentPassword"><br><br>
    New Password: <input type="password" name="newPassword"><br><br>
    <button>Update</button>
</form>

</body>
</html>